@font-face {
  font-display: swap;
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lobster-v30-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Cantata One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cantata-one-v15-latin-regular.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  display: flex;
}

ul,
ol {
  list-style: none;
}

h1 {
  margin: 0;
}

body {
  font-family: "Cantata One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background-color: #ffffff;
  color: #ffffff;
}

.btn {
  background-color: cadetblue;
  color: #222;
  padding: 12px 24px;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #222;
}

.wrapper__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 4px -1px 12px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 4px -1px 12px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 4px -1px 12px 0px rgba(0, 0, 0, 0.48);
}

.telegram {
  color: #ffffff;
  font-size: large;
}

.personal-info__description {
  margin-bottom: 20px;
}
.personal-info-link {
  width: 250px;
  font-size: small;
  text-align: center;
  color: red;
  letter-spacing: 3px;
  text-decoration: underline;
  font-weight: 100;
}

.personal-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  align-items: center;
  margin-bottom: 70px;
}

.personal-info__avatar {
  border-radius: 50%;
  border: 4px solid #9bcf53;
}

.personal-info__title {
  margin-bottom: 15px;
  font-family: "Lobster", sans-serif;
  letter-spacing: 2px;
}

.works {
  width: 100%;
}
.works-subtitle {
  width: 100%;
  text-align: center;
  background-color: #9bcf53;
  color: #222;
  padding-top: 10px;
  padding-bottom: 20px;
}
.works__title {
  width: 100%;
  text-align: center;
  background-color: #9bcf53;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #222;
  padding-top: 20px;
  word-spacing: 10px;
  letter-spacing: 8px;
}
.works-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  background-color: #9bcf53;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #222;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 700;
}

.works__collection {
  background-color: antiquewhite;
  border-radius: 12px;
  padding: 5px;
  padding-top: 30px;
  color: #222;
}

.works__collection-description {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.works__list {
  position: relative;
  list-style-type: decimal;
  left: 80px;
}
.works__list__item {
  padding-left: 10px;
  margin-bottom: 20px;
}
.works__list__title {
  margin-bottom: 30px;
}
.works__list__content {
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.works__list__link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: darkslategrey;
  margin-bottom: 10px;
}

.works__list__link {
  z-index: 1;
  overflow: hidden;
  background-color: #0afa;
  transition: color 0.5s ease-in-out;
  border: 2px solid transparent;
  border-radius: 5px;
  &:active {
    opacity: 0.8;
  }
}

.works__list__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: cadetblue;
  z-index: -1;
  border-radius: 50%;
  transform: scale(1.5);

  transition: transform 0.5s ease-in-out;
}

.works__list__link:hover::before,
.works__list__link:focus:before {
  transform: scale(0);
}

.works__list__link:hover,
.works__list__link:focus {
  color: #ffffff;
}
